on:
  push:
    branches:
      - "develop"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Backend/NameRandomizer/NameRandomizer/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/namerandomizertest-backend:latest

      - 
        name: Deploy on server (atomic symlink switch + systemd restart)
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: namerandomizer.ddnsfree.com
          username: root
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_PASS }}
          script: |
            ./testbackend_refresh.sh
